*{
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
/* custom CSS */
.sidebar__left{
    width: 50px;
    max-height: 85%;
}
.sidebar__left li{
    transition: all 0.15s;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.sidebar__left li:hover::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 3px;
    right: 0;
    top: 0;
    background-color:#34E7E4;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 1px #34E7E4;
}
.sidebar__left li a{
    height: 5px;
    width: 5px;
    position: relative;
    z-index: 10;
}
.sidebar__left li:hover a i, .sidebar__left li a.active i{
    color: #34E7E4;
}
.sidebar__left li:hover a::before,.sidebar__left li a.active::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%,-50%);
    z-index: -1;
    box-shadow: 0px 0px 20px 10px #34E7E4;
}
.sidebar__left li i{
    padding: 0;
    font-size: 1.2rem;
}
.main{
    position: relative;
    background: rgba(0, 0, 0, 0.7);
}
.main::before{
    content: ' ';
    background: url('./assets/mainbg.jpg');
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
    mix-blend-mode: multiply;
}

.sidebar__right {
    width: 50px;
    max-height: 85%;
}
/* Mobile navbar */
#mobile-menu ul li:hover i,#mobile-menu ul li:hover a{
    transition: all 0.15s;
    color: #34E7E4;
}